/* GLOBAL */
* {
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
	background: linear-gradient(#ddd, #fff);
	overflow-x: hidden;
}

.container {
	max-width: 100%;
	margin: 0;
}

a {
	color: rgba(255,255,255,.5);
}

a:hover {
	color: rgba(255,255,255,.7);
}

.dropdown-menu {
	background-color: #343a40;
}

.dropdown-item {
	color: lightgray;
	font-size: 16px;
}

.dropdown-item:hover {
	color: #eee;
	background-color: #343a40;
}

.dropdown-item.active {
	color: white;
	background-color: #343a40;
}

/* FOOTER */
footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 99;
}